<p>{{capitalize title}}, there {{pluralize length single="is ## name" plural="are ## names"}} in the list.</p>
<p>{{secondsViewed}}</p>
{{view Raffler.NewEntryView}}
<ul>
  {{#each controller}}
    <li {{bindAttr class="isValid isError isDirty"}}>{{name}} ({{name.length}} characters)
      {{#if winner}}
        <span {{bindAttr class="winner highlight" }}>winner</span>
      {{/if}}
      <a href="#" class="delete_entry" {{action removeItem this}}>✖</a>
      <em class="date">{{date created_at}}</em>
    </li>
  {{/each}}
</ul>
<button {{action "drawWinner"}} {{bindAttr disabled='allWinners'}}>Draw Winner!</button>
