<p>{{capitalize title}}, there {{pluralize length single="is ## name" plural="are ## names"}} in the list.</p>
<p>{{secondsViewed}}</p>
{{view Raffler.NewEntryView}}
<ul>
  {{#each controller}}
    <li {{bindAttr class="isValid isError isDirty isDeleted"}}>{{name}} ({{name.length}} characters)
      {{#if winner}}
        <span {{bindAttr class="winner highlight" }}>winner</span>
      {{/if}}
      {{#if isError}}
        <span {{bindAttr class="isError highlight" }}>error</span>
      {{/if}}
      {{#if isDirty}}
        <span {{bindAttr class="isDirty highlight" }}>dirty</span>
      {{/if}}
      <a href="#" class="delete_entry" {{action removeItem this}}>✖</a>
      {{!TODO make this refresh every X seconds}}
      <em class="date">{{date created_at}}</em>
    </li>
  {{/each}}
</ul>
<button {{action "drawWinner"}}>Draw Winner!</button>
